@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS file */
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-text {
  animation: fadeSlideUp 2s ease-out;
}
